/* 3D perspective */
.perspective-1000 {
  perspective: 1000px;
}

/* Enable 3D space for child transforms */
.preserve-3d {
  transform-style: preserve-3d;
}

/* Hide the back side when not facing front */
.backface-hidden {
  backface-visibility: hidden;
}

/* Flip back side */
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Apply rotation on hover */
.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateX(50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(50%) translateY(0px);
  }
}
.animate-fadeSlideDown {
  animation: fadeSlideDown 0.5s ease-out forwards;
}

/* infinity text slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* apply the scrolling animation */
.slider-track {
  animation: scroll 8s linear infinite;
}

/* pause when you hover anywhere over the track */
.slider-track:hover {
  animation-play-state: paused;
}
